.container{
    width: 400px;
    height: 200px;
    background-color: aqua;
    display: flex;
}
.item{
    width: 100px;
    height: 100px;
    background-color: rgb(177, 84, 221);
    display: inline;
    margin: 9px;
}
